.comment-item {
    background-color: var(--surface);
    border: solid 2px var(--border);
    border-radius: 16px;
}

.comment-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 1.4em;
    font-weight: bold;
    background-color: var(--accent);
    color: var(--text-primary);
    border: solid 1px var(--accent);
    border-radius: 50%;
}

.comment-text {
    font-size: 1em;
    color: var(--text-primary);
}

#comment-text-input {
    background-color: transparent;
    color: var(--text-primary);
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

.p-rating-item {
    padding: 0 2px;
}

.p-rating-icon {
    width: 16px;
    height: 16px;
    color: var(--warning);
}

.edit-btn {
    background-color: var(--surface);
    color: var(--text-secondary);
    border: solid 2px var(--text-secondary);
}

.edit-btn:hover {
    background-color: var(--text-secondary);
    color: var(--surface);
    border: solid 2px var(--text-secondary);
}

.delete-btn {
    background-color: #FF0000;
    color: var(--surface);
    border: solid 2px #FF0000;
}

.delete-btn:hover {
    background-color: var(--surface);
    color: #FF0000;
    border: solid 2px #FF0000;
}