.comment-item {
    background-color: var(--surface);
    border: solid 1px black;
}

.comment-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: var(--accent);
    border: solid 1px var(--accent);
    border-radius: 50%;
}