.book-title {
    color: var(--text-primary);
}

.book-category {
    color: var(--text-secondary);
}

.book-price {
    color: var(--text-primary);
}

.book-overview {
    color: var(--text-primary);
}

@media (max-width: 768px) {
    .book-image {
        display: block;
        max-width: 80%;
        margin: 0 auto;
    }

    .book-title {
        text-align: center;
    }
}