header {
    height: 80dvh;
    background-color: var(--background-secondary);
}

.hero-title,
.hero-subtitle {
    color: var(--text-primary);
}

.to-books-btn {
    background-color: var(--background-secondary);
    color: var(--text-primary);
    outline: solid 2px var(--text-secondary);
    transition: all 0.3s ease;
}

.to-books-btn:hover {
    background-color: var(--text-secondary);
    color: var(--background-secondary);
    outline: solid 2px var(--text-secondary);
}