nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: var(--background-secondary);
    border-bottom: solid 3px var(--border);
}

.navigation-brand a {
    color: var(--text-primary);
}