:root {
    --background-primary: #FDF6EC;
    --background-secondary: #D8C3A5;
    --surface: #FFFFFF;
    --text-primary: #2E2E2E;
    --text-secondary: #5A5A5A;
    --accent: #E07A5F;
    --accent-hover: #C1584A;
    --border: #E1D9CD;
    --success: #4CAF50;
    --error: #E53E3E;
    --warning: #D69E2E;
    --info: #4299E1;
}

:root[data-theme="dark"] {
    --background-primary: #2B2B2B;
    --background-secondary: #1F1F1F;
    --surface: #323232;
    --text-primary: #E5E5E5;
    --text-secondary: #A0A0A0;
    --accent: #E07A5F;
    --accent-hover: #C1584A;
    --border: #3A3A3A;
}

main {
    min-height: 85dvh;
    background-color: var(--background-primary);
}

.truncate-2-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-toast .p-toast-message-success {
    background-color: #EDF7EE;
    padding: 1.4rem;
    border-radius: 8px;
    border: solid 1px #C8E6C9;
    color: #2F6627;
}

.p-toast .p-toast-message-success .p-toast-message-icon {
    display: none;
}

.p-toast.p-toast-message-error {
    background-color: #FDECEA;
    padding: 1.4rem;
    border-radius: 8px;
    border: solid 1px #F5C6CB;
    color: #A12622;
}

.p-toast.p-toast-message-error.p-toast-message-icon {
    display: none;
}