.navigation-link {
    text-decoration: none;
    color: var(--text-secondary);
    transition: all 0.3s ease;
}

.navigation-link:hover {
    color: var(--text-primary);
    font-weight: bold;
    transform: scale(1.05);
}

.navigation-link.active-link {
    color: var(--text-primary);
    font-weight: bold;
    transform: scale(1.05);
}